{{ $name:= promptStringOnce . "name" "name" -}}
{{ $email := promptStringOnce . "email" "email" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    bashrcSkel = "~/.bashrc.d/.skel.bashrc"
