source ~/.bashrc.d/.skel.bashrc

# Fix tab completion of variables
_minimal() {
    [[ $2 == "$"* ]] || compopt -o filenames
    compopt -o bashdefault -o default
}

# Fix tab completion of `cd` command with variable (e.g. `cd $HOME`)
complete -r cd

eval "$(starship init bash)"
eval "$(direnv hook bash)"

for file in ~/.bashrc.d/*.bashrc;
do
    source "$file"
done

eval "$(chezmoi completion bash)"
