source ~/.bashrc.d/.skel.bashrc

# Fix tab completion of variables
_minimal() {
    [[ $2 == "$"* ]] || compopt -o filenames
    compopt -o bashdefault -o default
}

# Fix tab completion of directory change command with variable (e.g. `cd $HOME`)
complete -r cd
complete -r pushd

if command -v starship &> /dev/null; then
    eval "$(starship init bash)"
fi
if command -v direnv &> /dev/null; then
    eval "$(direnv hook bash)"
fi

for file in ~/.bashrc.d/*.bashrc;
do
    source "$file"
done

eval "$(chezmoi completion bash)"
